html * {
    box-sizing: border-box;
    word-wrap: normal;
    margin: 0;
    letter-spacing: 0.2px;
}

html {
    padding: 0;
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

/* Universal */

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* Root */

:root {
    --azure: #22577a;
    --verdigris: #38a3a5;
    --emerald: #57cc99;
}

/* Typography  */

/* h1 = 5.6 */
/* h2 = 4.2 */
/* h3 = 3.1 */
/* h4 = 2 */
/* h5 = 1.77 */
h2 {
    text-align: center;
    font-size: 3.1rem;
    color: white;
}

h3 {
    font-size: 1.8rem;
}
h3 ul li {
    color: red;
}
h3 ul li::marker {
    color: white;
}

/* Universals */
.pad-bot2 {
    padding-bottom: 2rem;
}
.pad-top2 {
    padding-top: 2rem;
}

/* TOP-Navication Bar */

header a {
    color: white;
}

.nav-bar {
    background: var(--azure);
    height: 15dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 4px solid var(--emerald);
    /* border-bottom-right-radius:  */
}

.nav-bar__menu {
    width: 3.5rem;
}

.nav-bar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-bar__logo {
    background: var(--verdigris);
    width: 9rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 2.2rem;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 2px solid var(--emerald);
}

.nav-bar__login {
    width: 3.2rem;
}

.nav-bar__user {
    background: var(--verdigris);
    width: 9rem;
    height: 6rem;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 2.2rem;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: 2px solid var(--emerald);
    letter-spacing: 0.1rem;
}

/* Categories */

.categories {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: var(--azure);
}

.categorie {
    font-size: 2rem;
    color: white;
    border-bottom: 2px solid var(--verdigris);
    width: 100vw;
    text-align: center;
    padding: 0.8rem 0;
}

.categories:last-child {
    border-bottom: 3px solid var(--emerald);
}

/* Hero Section */

.hero-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--azure);
    padding: 4rem 0;
    flex-direction: column;
    border-bottom: 4px solid var(--emerald);
    gap: 2rem;
}

.hero-box h1 {
    color: white;
    font-weight: bold;
    font-size: 4.2rem;
}

/* Search field */

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--azure);
}

.search-box__field {
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    gap: 0.5rem;
}

.search-box__lens {
    width: 2.5rem;
}

#search {
    width: 100dvw;
    max-width: 25rem;
    border: none;
    padding: 0.5rem;
    font-size: 2rem;
}

#search:focus {
    outline: none;
}

/* Main */

main {
    background: var(--azure);
    min-height: 40dvh;
}
/* Buttons */

button a {
    color: white;
}

.btn {
    background: var(--verdigris);
    border: 2px solid var(--emerald);
    border-radius: 20px;
    color: white;
    padding: 0.7rem 4rem;
    font-size: 2rem;
}

.btn-secondary {
    background: var(--azure);
}

/* Card */

.hot-title {
    color: white;
    font-size: 2rem;
    padding: 3rem 2rem 2rem;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}
.cards:first-of-type {
    padding-top: 2rem;
}
.cards:last-of-type {
    padding-bottom: 2rem;
}

.card {
    color: white;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    border: 2px solid var(--emerald);
}

.card p {
    font-size: 1.6rem;
}

.card .btn {
    width: fit-content;
    padding: 0.8rem 1.4rem;
    border: none;
    background-color: var(--verdigris);
    font-size: 1.4rem;
}

.card__btn-divider {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.card__btn-divider-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card ul {
    list-style: none;
    padding: 0;
    font-size: 1.5rem;
}

.card__title {
    font-size: 2.2rem;
    max-width: 90%;
    text-align: start;
}
/* Login */

.login {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem 7rem;
    gap: 3rem;
}

.login h1 {
    font-size: 4.2rem;
}

.login_row {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

.login_row:nth-child(2) {
    gap: 1rem;
}

.login_row:last-of-type {
    gap: 1.5rem;
}

input {
    background: white;
    padding: 0.8rem 1.5rem;
    border-radius: 15px;
    border: none;
    font-size: 2rem;
    width: 100%;
}

input:focus {
    outline: none;
}

.login_label {
    font-size: 2rem;
}

/* Logout */

.logout {
    height: 40dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    color: white;
}

.logout__link {
    color: var(--emerald);
    font-size: 2.8rem;
    text-align: center;
}

/* My Account */

.myaccount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2rem;
    gap: 2rem;
    height: 40vh;
}

.myaccount__image {
    width: 10rem;
    padding: 1rem 1rem 0.2rem;
    border: 3px solid var(--emerald);
}
.myaccount__block {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.myaccount__p {
    font-size: 1.77rem;
    color: white;
    font-weight: 400;
}

.myaccount__btn {
    text-align: start;
    font-size: 1.77rem;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 25rem;
}

/* About us */

.about-us {
    padding: 2rem;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
}

.about-us h3 {
    font-size: 2rem;
    padding-top: 1rem;
}

.about-us p {
    font-size: 1.4rem;
    padding-top: 1.5rem;
}
.about-us p:first-of-type {
    font-size: 1.8rem;
    font-weight: 500;
    padding-top: 0.3rem;
}

/* Data and Cookies */

.data-and-cookies {
    color: white;
    padding: 2rem 2rem 4rem;
}

.data-and-cookies h2 {
    font-size: 3.1rem;
    text-align: center;
    padding: 2rem 0 1rem;
    color: black;
}
.data-and-cookies p {
    font-size: 1.4rem;
}

/* JOB CARD */

.main-job-card {
    min-height: 40dvh;
    padding: 0 2rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.job-card {
    padding: 0 2rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.job-card__categories {
    padding: 0 2rem 2rem;
}

.job-card__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 475px;
}

.job-card__checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.job-card__categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#status {
    transform: scale(1.8);
    accent-color: var(--emerald);
    display: block;
    margin-bottom: -7rem;
}

.job-card__label {
    font-size: 2rem;
    padding: 2rem 0 0.5rem;
}
/* .job-card__label:first-of-type {
    padding: 0;
} */

.job-card__select {
    background: white;
    padding: 0.8rem 1.5rem;
    border-radius: 15px;
    border: none;
    font-size: 2rem;
    width: 100%;
}

.job-card__select:focus {
    outline: none;
}

.job-card__textarea {
    border-radius: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}
.job-card__textarea:focus {
    outline: none;
}

.job-card__h2 {
    padding: 2rem;
}

.job-card__h3 ul {
    color: white;
    font-weight: 400;
}

.job_card__btn {
    padding: 3rem 0 0;
}

/* Footer */

footer {
    height: 45dvh;
    background: var(--azure);
    border-top: 4px solid var(--emerald);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 0 2rem;
    color: white;
    font-size: 1.33rem;
}

footer ul {
    list-style: none;
    padding: 0;
    font-size: 1.77rem;
}
footer li {
    padding-bottom: 1rem;
}

footer a {
    color: white;
}

/* HIDE */

.hide {
    display: none;
}

.show {
    display: flex;
}
